*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Inter';
  }
  body{
    background-color:#EAF6E9;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
@media (min-width: 320px) and (min-height:568px){
  .container{
    max-width: 98%;
    margin: 2% 25%;
    height: 90%;
    display: flex; 
    flex-direction: column;
  }
  h1{
    font-size: 1.0rem;
    line-height: 0.2rem;
    font-weight: 700;
    color:maroon;
  }
  .accordion-title{
    font-size: 0.7rem;
    line-height: 0.1rem;
    font-weight: 700;
    color:darkslategray;
  }
  .icon{
    visibility: hidden;
    transform: rotate(90deg);
    font-size: 1rem;
    }
  .image{
    display: none;
    width: 50%;
    margin: 0 auto;
  }
  .accordion-image{
    width: 75%;
  } 
  input{
    appearance: none;
  }
  .line{
    border-bottom: 0.1rem solid #C4C9C3;
    width: 100%;
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   }  
  .accordion-input:checked ~ .image {
    display: block;
  }
  .accordion-input:checked:hover ~ .title .icon {
    visibility: visible;
    transform: rotate(270deg);
  }
  .accordion-input:checked ~ .title h2,.icon {
    color: maroon;
  }
}