*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Inter';
  }
  body{
    background-color:#EAF6E9;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .container{
    max-width: 1880px;
    margin: 2% 25%;
    height: 980px;
    display: flex; 
    flex-direction: column;
  }
  h1{
    font-size: 30px;
    line-height: 25px;
    font-weight: 700;
    color:maroon;
  }
  .accordion-title{
    font-size: 20px;
    line-height: 16px;
    font-weight: 700;
    color:darkslategray;
    margin-top: 1%;
  }
  .welcome,.expert,.helper,.junior,.done{
    margin-top: 1%;
  }
  .container,label:hover{
    cursor: pointer;
   }
  .icon{
  visibility: hidden;
  transform: rotate(90deg);
  font-size: 1rem;
  }
 .image{
    display: none;
    width: 50%;
    margin: 0 auto;
 }
 .accordion-image{
    width: 75%;
 }
 input{
    appearance: none;
 }
 .accordion-input:hover ~ .image {
  display: block;
 }
 .accordion-input:checked ~ .image {
    display: block;
 }
  .accord-input:hover ~ label .title .icon{
    visibility: visible;
    transform: rotate(90deg);
  }
  .accordion-input:checked:hover ~ .title .icon {
    visibility: visible;
    transform: rotate(270deg);
  }
  .accordion-input:hover ~ .title .icon {
    visibility: visible;
    transform: rotate(270deg);
  }
 .line{
    border-bottom: 1px solid #C4C9C3;
    width: 100%;
    margin-top: 2%;
 }
 .accordion-input:checked ~ .title h2,.icon {
    color: maroon;
  }
 .title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
 }
 .accord-input:hover ~ label  .title .accordion-title{
  color: maroon;
 }
