*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Inter';
  }
  body{
    background-color:#EAF6E9;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .container{
    max-width: 1880px;
    margin: 2% 25%;
    height: 980px;
    cursor: pointer;
    display: flex; 
    flex-direction: column;
  }
  .accordion{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
  }
  h1{
    font-size: 30px;
    line-height: 25px;
    font-weight: 700;
    color:maroon;
  }
  label{
    font-size: 20px;
    line-height: 16px;
    font-weight: 700;
    color:darkslategray;
  }
  .welcome,.expect,.helper,.junior,.done{
    margin-top: 3%;
  }
 .image{
    display: none;
    width: 50%;
    margin: 0 auto;
 }
 .accordion-image{
    width: 75%;
 }
 input{
    appearance: none;
 }
 .accordion-title:hover ~ .image {
    display: block;
  }
 .accordion-input:checked ~ .image {
    display: block;
  }
 label:hover{
    color: maroon;
    cursor: pointer;
 }
 .line{
    border-bottom: 1px solid #C4C9C3;
    width: 100%;
    margin-top: 2%;
 }
 .accordion-input:checked ~ label {
    color: maroon;
  }